@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.msg-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
    top: 90px
}

@media screen and (max-width: 576px) {
    .msg-box {
        width: 98%;
    }
}

.chat-box,
.left-dashboard {
    height: calc(100vh - 200px);
    overflow: auto;
}

@media screen and (max-width: 1024px) {
    .chat-box,
    .left-dashboard {
        height: 100%;
    }
}

